#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  max-height: 300px;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  text-align: center;
  color: var(--clr-primary-color);
}

.header img {
  width: 10em;
  margin: auto;
  display: block;
}

section {
  flex-grow: 1;
}

.search-form {
  width: 100%;
  display: flex;
}

.search-form input {
  padding: .5em;
}

.search-form input[type=text] {
  flex-grow: 9;
}

.search-form input[type=submit] {
  flex-grow: 1;
  border: none;
  background: var(--clr-accent);
  font-weight: bold;
}

.error {
  margin: 10px 0;
  
}

.domain-list {
  display: flex;
  flex-wrap: wrap;
}

.sub-domain {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  padding: .2em .5em;
  margin: .1em;
  background-color: var(--clr-secondary-background);
  /*transition: all ease .8s;*/
}

/*.sub-domain:hover {
  font-size: 1.2rem;
  color: var(--clr-background);
  background-color: var(--clr-accent);
}*/

.footer {
  height: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  justify-self: flex-end;
}